<div class="row">
  <div id="profile-view">
    <h3 id="profile-name"><%= @user.name %></h3>
    <% if asset_exists?(@user.email + ".jpg") %>
      <div id="profile-picture">
        <img src="<%= asset_path(@user.email + ".jpg") %>" width="203px" height="auto">
      </div>
    <% else %>
      <div id="profile-picture-placeholder"></div>
    <% end %>
    <div class="container">
      <div class="row profile-info">
        <div class="col-sm-1"></div>
        <label class="col-sm-5 control-label">Partner Organization</label>
        <div class="col-sm-5">
          <%= @user.partner_organization %>
        </div>
      </div>

      <div class="row profile-info">
        <div class="col-sm-1"></div>
        <label class="col-sm-5 control-label">Email</label>
        <div class="col-sm-5">
          <%= @user.email %>
        </div>
      </div>

      <div class="row profile-info">
        <div class="col-sm-1"></div>
        <label class="col-sm-5 control-label">Phone</label>
        <div class="col-sm-5">
          <%= @user.phone %>
        </div>
      </div>
      <div class="row profile-info">
        <div class="col-sm-1"></div>
        <label class="col-sm-5 control-label">Neighborhood</label>
        <div class="col-sm-5">
          <%= @user.neighborhood %>
        </div>
      </div>
    </div>
  </div>
</div>